<h1 class="header1">GOOD TIMEZZ</h1>
<h2 class="header2">Welcome to the 3D products app</h2>
<div class="body">
    <table class="table">
        <tr class="row1">
            <td class="col1">
                <p-button (click)="goToProductsPage()" label="View Products"></p-button>
            </td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <td class="col2">
                <p-button (click)="goToSalesPage()">View Sales</p-button>
            </td>
        </tr>
    </table>
</div>